apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitops
  template:
    metadata:
      labels:
        app: gitops
  spec:
    containers:
    - name: gitops
      image: meybili/gitops:latest
      ports:
      - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: gitops
spec:
  selector:
    app: gitops
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer
